.wrapper {
  display: flex;
  background: rgb(251, 254, 255);
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}
.inFrame {
  background: #e0fff6;
}
.param {
  color: red;
  font-weight: bold;
}
